<style>
h1{
  color:#053c60;
  font-size: 100px;
  text-aligh: center;
  padding-top:10px;
  font-family: Helvetica;
  letter-spacing: 3px;
}
h2{
  color:#053c60;
  font-size: 35px;
  text-aligh: center;
  padding-top: 15px;
  font-family: Courier;
  letter-spacing: 2px;

}
p{
  color:#470259;
  font-size: 20px;
  text-aligh: center;
  padding-top: 7px;
  font-family: monospace;
  font-style:italic;
}
</style>
<h1>About Page</h1>
<h2>What is LostNFound?</h2>
<p>LostNFound is an online application which serves as a virtual lost-and-found center.</p>
<p>This innovative service will be purely based on members in a community interacting with one another.</p>
<p>Post missing items for help, and help others recover missing items.</p>
<h2>How does it work?</h2>
<p>Users generate posts which contain the necessary information of the missing belonging.</p>
<p>Other users can view posts and comment to help out.</p>
<h2>Who can use it?</h2>
<p>Anybody who registers.</p>
<h2>Where can I register?</h2>
<p>Create an account on the homepage.</p>
<h2>Where do I post?</h2>
<p>Once you register and log in, you will be redirected to where you can post.</p>

