<style>
h1{
  color:#8E0098;
  font-size: 120px;
  text-aligh: center;
  padding-top:300px;
  font-family: Helvetica;
  text-shadow: 4px 2px 8px gold;
  letter-spacing: 3px;
}
p{
  color:	#FF4500;
  font-size: 40px;
  text-aligh: center;
  padding-top: 10px;
  font-family: arial;
  font-style:italic;
}
</style>
<h1>Lost-N-Found</h1>
<p>Post what you lost, help others find what they lost.</p>
