<style>
h1{
  color:#8E0098;
  font-size: 100px;
  text-aligh: center;
  padding-top:300px;
  font-family: Helvetica;
  text-shadow: 4px 2px 8px gold;
  letter-spacing: 3px;
}
</style>
<h1>Lost-N-Found</h1>
<p>Placeholder</p>
