<h1>Posts are Here</h1>
<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h3 class="title"><%= link_to post.title, post %></h3>
  </div>
<% end %>
<%= link_to 'New Post', new_post_path %>
