// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
body {background: url(‘lost_and_found_oliver_jeffers');
background-size: cover;
background-position: center;
background-attachment: fixed;}
